<div class="container mg-t-10p">
	<div class="row">
		<div class="col-sm-3">
			<div class="card">
				<p>Filter</p>
				<div class="filter">
					<span>Launch Year</span>
					<div class="container row">
						<div class="col-sm-6" *ngFor="let year of filter?.years">
							<button  type="button" (click)="applyFilter('launch_year',year)" class="btn btn-success">{{year}}</button>
						</div>
					</div>
				</div>
				<div class="filter">
					<span>Successful Launch</span>
					<div class="container row">
						<div class="col-sm-6" *ngFor="let launch of filter?.launch">
							<button  type="button" class="btn btn-success" (click)="applyFilter('launch_success',launch)">{{launch}}</button>
						</div>
					</div>
				</div>
				<div class="filter">
					<span>Successful landing</span>
					<div class="container row">
						<div class="col-sm-6" *ngFor="let landing of filter?.landing">
							<button  type="button" class="btn btn-success" (click)="applyFilter('land_success',landing)">{{landing}}</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-9">
			<div class="container row">
				<div class="card col-sm-2 custom-margin" *ngFor="let data of filteredData">
					<div class="item">
						<img class="filter-img" [src]="data?.links?.mission_patch" >
						<div class="item-body">
							<span class="item-header">
              {{data?.mission_name + ' #' + data?.flight_number}}
            </span>
							<div>
								<span class="item-sub-hearder">
                Mission ids:<p class="item-sub-detail">{{data?.mission_id}}</p>
              </span>
							</div>
							<div>
								<span class="item-sub-hearder">
                launch year:<p class="item-sub-detail">{{data?.launch_year}}</p>
              </span>
							</div>
							<div>
								<span class="item-sub-hearder">
                Successful launch:<p class="item-sub-detail">{{data?.launch_success}}</p>
              </span>
							</div>
							<div>
								<span class="item-sub-hearder">
                Successful landing:<p class="item-sub-detail">{{data?.launch_landing}}</p>
              </span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>






